.container {
   margin: 5rem 0;
}
.card {
   margin: 1.5rem 2% !important;
   //    border: 1px solid rgb(238, 238, 238) !important;
}
.infected {
   border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.deaths {
   border-bottom: 10px solid rgb(216, 0, 0);
}
.recovered {
   border-bottom: 10px solid rgb(0, 170, 0);
}
