*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 62.5%;
   font-family: sans-serif;
}

.mainContainer {
   max-width: 1200px;
   margin: auto;
   // background-color: red;
}
